<p align="center"><img style="max-width:250px;" align="middle" src="/WhatsSafe.png"></p>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
    <%= bootstrap_flash %>
<h1>Benutzer</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="field">
    <%= f.label "Benuter" %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Passwort" %><br>
    <%= f.password_field :password, :class => "form-control" %>
  </div>
  <div class="actions">
   <p><%= f.submit 'Registrieren', :class =>  "form-control btn btn-md btn-success" %></p>
   <p><%= f.submit 'Einloggen', :class =>  "form-control btn btn-md btn-primary" %></p>
  </div>
  </div>
<% end %>
</div>
</div>


